body {
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.quadrado {
    width: 98%;
    height: 90%;
    border: 2px solid black;
}

.circulo {
    position: relative;
    background: cyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3%;
}

    .dados h5{
        margin: 10px;
    }
    .dados button {
        margin: 10px;
    }
    .dados p {
        margin: 10px;
    }
